*{
    padding: 0;
    margin: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;/*se debe poner antes de usar top, bottom, right, left*/
    top: 150px;/*200 altura cuadrado - 150 altura character*/
    
}

.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}


#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;/*50-20*/
    animation: block 1s infinite linear;/*linear=velocidad constante*/
}

/*animacion del cubo*/
@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}